<a href="https://colab.research.google.com/github/chenisenolan/CSC302_HW1/blob/main/Crime_Statistics_2000_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd
df = pd.read_csv("/Crime_Statistics_2000-2020.csv")

In [23]:
df.head()

   Year  Type of Crime  Number of Crimes
0  2000        Assault               523
1  2000       Burglary               349
2  2000        Robbery               128
3  2000  Vehicle Theft               223
4  2001        Assault               610

In [6]:
df.tail()

    Year  Type of Crime  Number of Crimes
77  2019       Burglary              5498
78  2019        Robbery              3583
79  2019  Vehicle Theft              4359
80  2020        Assault              4205
81  2020       Burglary              6203

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              82 non-null     int64
 1   Type of Crime     82 non-null     object
 2   Number of Crimes  82 non-null     int64
dtypes: int64(2), object(1)
memory usage: 2.0+ KB

In [21]:
df.describe()

              Year  Number of Crimes
count    82.000000         82.000000
mean   2009.756098       1698.487805
std       5.957796       1422.693301
min    2000.000000        105.000000
25%    2005.000000        524.500000
50%    2010.000000       1239.000000
75%    2015.000000       2595.250000
max    2020.000000       6203.000000

In [20]:
df.dtypes

Year                 int64
Type of Crime       object
Number of Crimes     int64
dtype: object

In [11]:
df.shape

(82, 3)

In [12]:
df.columns

Index(['Year', 'Type of Crime', 'Number of Crimes'], dtype='object')

In [24]:
df["Year"] = pd.to_datetime(df["Year"], format="%Y")

In [25]:
print("Sum of missing values")
print(df.isna().sum())
print(df["Type of Crime"].unique())

Sum of missing values
Year                0
Type of Crime       0
Number of Crimes    0
dtype: int64
['Assault' 'Burglary' 'Robbery' 'Vehicle Theft']

In [28]:
grouped = df.groupby(df["Type of Crime"])

In [30]:
assault = grouped.get_group("Assault")
assault = assault.drop(["Type of Crime"], axis=1)
assault.columns = ["ds","y"]
print(assault.info())

burglary = grouped.get_group("Burglary")
burglary = burglary.drop(["Type of Crime"], axis=1)
burglary.columns = ["ds","y"]
print(burglary.info())

robbery = grouped.get_group("Robbery")
robbery = robbery.drop(["Type of Crime"], axis=1)
robbery.columns = ["ds","y"]
print(robbery.info())

vehicle_theft = grouped.get_group("Vehicle Theft")
vehicle_theft = vehicle_theft.drop(["Type of Crime"], axis=1)
vehicle_theft.columns = ["ds","y"]
print(vehicle_theft.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21 entries, 0 to 80
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ds      21 non-null     datetime64[ns]
 1   y       21 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 504.0 bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 21 entries, 1 to 81
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ds      21 non-null     datetime64[ns]
 1   y       21 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 504.0 bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 2 to 78
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ds      20 non-null     datetime64[ns]
 1   y       20 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 480.0 bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 3 to 79
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ds      20 non-null     datetime64[ns]
 1   y       20 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 480.0 bytes
None

In [36]:
from google.colab import data_table
data_table.enable_dataframe_formatter()